.container{
  /* background-color: #fafafa; */
  padding: 5px 20px;
}

.options{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.options li{
  cursor: pointer;
}